@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  

  font-family: 'Playfair Display', serif;
background-color: #ffffffbe !important;
color: white ;
  scroll-behavior:smooth scroll !important;
}

html{
  
  scroll-behavior:smooth scroll;

}

a ,a link{
    text-decoration: none !important;
    color: white !important;
    
}
.Colornav{
color: white !important;
   opacity: 0.9;
   z-index: 100;
position: relative;


   
   
    
}

.Sizenav{
width: 100%;



}
 header li {
    margin-left: 10px !important;
   
}


.filter{

filter: brightness(55%) !important;

}

.video-container {
  position: relative;
  width: 100%;
  height: 60vh !important;
  
  
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(90%) contrast(115%) ;
}

.video-container .banner {
max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; 

width: 700px;
height: 300px;
padding: 15px;
text-align: center;


color: rgb(255, 255, 255);


box-shadow: 10px 10px 20px 30px #478897(0, 0%, 7%, 0.568);
}

.mybtn{
  padding: 10px 0px 10px 0px;
  width:  50%;
  background-color: transparent;
  color: white;
  border: 2px double rgb(255, 255, 255);
  box-shadow: 2px 2px  rgba(4, 34, 134, 0.349);
  cursor: pointer;
}

.animation {
 position: relative;
  top: -100px; 
  animation: fadeInFromTop 1s ease-in-out;
}

@keyframes fadeInFromTop {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  header li {
    margin-left: 5px !important;
  
    font-size: 13px;
   
}
.video-container .banner{
  width: 300px !important;
  padding: 7px;
  
}

.mybtn{
  width: 70%;
}

.imgp{
display: none !important;
  }
}


.CardImgRoadmap{
  width: 500px;
  height: 400px;
}

.maxh{
font-size: 20px;
}

.infoproject{
  background-color:rgba(30, 91, 203, 0.658) !important;
 z-index: 100;
width: 100%;
height: 50px;
}








@keyframes scroll {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(calc(-250px * 7));
 }
}
.slider {
  background:#ffffff6c;
  height: 50px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
 
}
.slider::before, .slider::after {
  content: "";
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  margin: 10px;
  height: 50px;
  width: 60px;
  border-radius: 100% !important;
  margin-left: 60px;
}

.size{
  width: 100%;
  height: 60px;
}


.imgp{
filter: grayscale(100%) !important;
opacity: 0.5;
width: 300px;


}
.slider :hover{
transform: scale(1.1);
cursor: pointer;
}


.card {
  color: white !important;
  width: 310px;
  height: 400px !important ;
  background:#072c45a1;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 1px 5px 60px 0px #3b3a5e6b;
 }
 
.bluecolor{
  background:#0c4a74a1 ;
  border: none;
}

.bluecolor:hover{
  background:#147fc7a1 ;
  border: none;
}

.textyellow {
  color: #EFBD5B;
}
 
 .card img {
  width: 100% !important;
  height: 100% !important;
 
  overflow: hidden;

 }
 

 
 

 .card .card-border-bottom {
  width: 100%;
  height: 10%;
  position: absolute; 
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffffb7;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
  font-size: 25px !important;
  
 }

.container-project{
  width: 100%;

  object-fit: contain;
}
.img{
  width: 100%;
  height: 600px;
}
.banneroncar{
  background-color: #478897;
  
}


.ProjectImage{
  width: 100%;
  height: 100%;
}
.palloncino {
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: 240px;
  left: 50%; /* Centra il palloncino orizzontalmente */
  opacity: 1;
  animation: moveBalloon 10s linear ;
}
@keyframes moveBalloon {
  0% {
      transform: translateX(0) rotate(-20deg);
      opacity: 1; 
  }
  50% {
      transform: translateX(500px) translateY(-200px) rotate(-20deg);
      opacity: 0;
      visibility: hidden;
  }
  100% {
      transform: translateX(0) rotate(-20deg);
      opacity: 0;
      
  }
}

.palloncino2 {
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: 80px;
  left: 10px; /* Centra il palloncino orizzontalmente */

  animation: moveBalloon 10s linear ;
}

.banner2{

}
.banner h1{
  font-size: 60px;
  font-weight: 800;
}
.banner h2{
  font-size: 25px;
}
.modifyrow{
  background-color: rgba(128, 128, 128, 0.24);
  border-radius: 20px 20px 20px 20px;
}
.modifycol{
  object-fit: contain !important;
  padding: 0px !important;
  overflow:  hidden !important;
}

.cardpersonal {
  width: 100%;
  height:300px;
  background: #78929248;
  border-radius: 10px 10px 10px 10px;
  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
 }
 
 .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 /*Image*/
 .card-avatar {
  --size: 60px;
  background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 1rem;
 }
 
 
 /*Card footer*/
 .card-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 .card-social__item {
  list-style: none;
 }
 
 .card-social__item svg {
  display: flex;
  height: 18px;
  width: 18px;
  fill: #515F65;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: fill 0.2s ease ,transform 0.2s ease;
 }
 
 /*Text*/
 .card-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
 }
 
 .card-subtitle {
  color: #859ba8;
  font-size: 0.8em;
 }
 
 /*Hover*/
 .cardpersonal:hover {
  box-shadow: 0 8px 50px #00ffff33;
 }
 
 .cardpersonal:hover .card-info {
  transform: translateY(-5%);
 }
 
 .cardpersonal:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
 }
 
 .card-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
 }
 
 .card-avatar:hover {
   transform: rotate(360deg) scale(1.6) ;

 }
 .imgnew{
  width: 100% !important;
  height: 100% !important;
 }